@using IlaçTakip.Models
@model List<PatientInformation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv="refresh" content="10;url=https://localhost:44361/UserPanel/Index">
</head>
<div>

    <p class="text-danger" style="font-size:45px; font-family:'Times New Roman';font-style:italic;text-align:center;">Hoş Geldiniz @ViewBag.UserInformation</p>

</div>
<div>
 
</div>

