@model IlaçTakip.Models.UserInformation
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html lang="zxx">

<head>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Validator Signup Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!-- Meta tag Keywords -->
    <!-- css file -->
    <link rel="stylesheet" href="~/Screens/Register/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- //css file -->
    <!-- web-fonts -->
    <link href="//fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
          rel="stylesheet">
    <!-- //web-fonts -->

</head>

<body>
    <!-- title -->
    <!-- //title -->
    <!-- content -->
    <div class="sub-main-w3">
        @using (Html.BeginForm("ForgetPassword", "User", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(i => i.UserEmail)
                @Html.TextBoxFor(i => i.UserEmail, new { @class = "form-control", required = "required", @type = "email", @placeholder = "Enter your e-mail address." })

            </div>


            <button type="submit" class="btn btn-primary">Update Password</button>

            <div>
                @if (ViewBag.Error != null)
                {
                    <p class="text-danger">@ViewBag.Error</p>
                }


            </div>
        }

    </div>
    <!-- //content -->
    <!-- copyright -->
    <div class="footer">

    </div>
    <!-- //copyright -->
    <!-- Jquery -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //Jquery -->
    <!-- Jquery -->
    <script src="js/jquery-simple-validator.min.js"></script>
    <!-- //Jquery -->

</body>

</html>