
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>Ilaç Takip Sistemi</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
        <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        <a href="/UserPanel/Index/" class="w3-bar-item w3-button">Anasayfa</a>
        <a href="/UserPanel/AddMedicine/" class="w3-bar-item w3-button">Ilaç Ekle</a>
        <a href="/UserPanel/MedicineList/" class="w3-bar-item w3-button">Ilaçlarım</a>
        <a href="/UserPanel/MedicineControl/" class="w3-bar-item w3-button">Ilaç Durum Takip</a>
        <a href="/UserPanel/LogOut/" class="w3-bar-item w3-button">Çıkış Yap</a>
    </div>

    <!-- Page Content -->
    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
        <div class="w3-container">
            <h1  style="font-family:'Times New Roman';font-style:italic;text-align:center;">İLAÇ TAKİP SİSTEMİ</h1>
        </div>
    </div>

    @RenderBody()

   

    <script>
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
    </script>

</body>
</html>
