<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>The activation period of the mail has expired.Please re-register.</h2>
        <br />
        <a href="/User/Register/" class="btn btn-success">Go To Register</a>
    </hgroup>
</body>
</html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />